body  {
  margin: 0px;
  text-align: center;
}

h1  {
  font-size: 70px;
  margin-top: 0px;
  font-family: 'Noelan', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2  {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3  {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr  {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  margin: none;
  width: 5%;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #E4F9F5;
}

.bottom-container {
  background-color: #E4F9F5;
}

.skill-row  {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.img1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img2 {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.img3 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.web  {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 150px;
}

.top-cloud  {
  position: absolute;
  right: 400px;
  top: 50px;
}

.contact-me {
  border-radius: 8;

}

/*
.skd1 {
  clear: left;
}

.skd2 {
  clear: right;
}

.skd3 {
  clear: left;
}
*/


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(top bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
